body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  background-image: url("http://i.ytimg.com/vi/hKLV-ynHdJk/maxresdefault.jpg");
  font-size: 16px;
}
body, a:link, a:visited, a:active{
  border: 1px solid lightblue;
  border-radius: 3px;
  font-family: verdana;
  color: lightblue;
}
a{
  padding: 3px;
}
.title, .addDancerButton, .lineUpButton, .pairUpButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  position: absolute;
}